:root{
    --bg_color: #37393A;
    --bg1_color: #313435;
    --bg2_color: #272A2A;

    --red_color: #F25F5C;
    --red1_color: #F15855;
    --red2_color: #F04542;
    --red3_color: #EE332F;
    --red4_color: #ED201D;
    
    --white_color: #F7F7F7;
    --white1_color: #E7E7E7;
    
    
    --blue_color: #449DD1;
    --blue1_color: #3a99cf;
    --blue2_color: #308ec5;
    --blue3_color: #2C82B5;
    --blue4_color: #2877A4;


    --green_color: #329F5B;
    --green1_color: #319B5A;
    --green2_color: #2C8C51;
    --green3_color: #277C48;
    --green4_color: #226D3F;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5 ;
}

canvas{
    background-color: var(--white1_color);
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
}

.container{
    margin: 30px 30px 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;  
    height: 90vh;
}

.box {
    height: 100%;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
}

.right{
    width: 400px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.262);
}


.options{
    border-radius: 10px;
    display: flex;
    width: 100%;
    padding: 5px;
}

.button {
    display: inline-block;
    color: #fff;
    padding: 17px 17px;
    margin: 0px 2px;
    text-decoration: none;
    text-align: center;
    border-radius: 100%;
    
}

#Generate{
    background-color: #343a40;
}

#Generate:hover{
    background-color: #495057;
}

#Download{
    background-color: #343a40;
}

#Download:hover{
    background-color: #495057;
}


.content {
    margin: 20px 20px 20px 20px;
}

.left{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.262);
}

